<form action="" method="POST">
    <p>Nick no Albion: </p>
    <input type="text" name="nick">
    <p>Nick no Discord: </p>
    <input type="text" name="tag-discord">
    <p>Fama total: </p>
    <input type="text" name="fama-total">
    <button type="submit">Cadastrar-se</button>
</form>